body{
    background: linear-gradient(to right, #2C4550, #0C0C0C);
    display: grid;
    grid-template-columns: 6% 94%;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
}

/* LEFT MAIN DIV */

.name-socials{
    border-right: 1px solid white;
    height: auto;
    position: relative;
}

#site-name{
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.socials{
    display: grid;
    justify-items: center;
}

.socials-icons{
    padding: 20px;
    height: auto;
}

.social-links{
    transition: 0.3s;
}

.social-links:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

/* RIGHT MAIN DIV */

ul{
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 10%;
}

ul li{
    display: flex;
    padding: 20px;
    font-weight: bold;
    transition: 0.3s;
}

ul li a{
    text-decoration: none;
    color: white;                                                                                                                                                                                                                                                                                                                                                                            
}

.nav-items:hover{
    transition: 0.3s;
    text-decoration: underline;
    text-underline-offset: -20px;
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.active{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.main-content-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
}

.text-div{
    position: relative;
    margin-left: 40%;
    margin-top: 20%;
}

.image-div{
    position: relative;
    z-index: 1;
}

#puppet_stairs{
    position: absolute;
    margin-top: 20%;
    transform: scale(1.2);
}

.exploration_footprint{
    position: relative;
    margin-top: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: radial-gradient(100% 2631.09% at 0% 0%, rgba(0, 0, 0, 0.558) 100%, rgba(0, 0, 0, 0.42) 0%);
    backdrop-filter: blur(25px);
    z-index: 2;
}

.astronaut{
    text-align: center;
}

.exploration, .footprint{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

/* FLOATING ANIMATION */

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.description-main, .description{
    font-size: 20px;
    line-height: 30px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}

/* RESPONSIVENESS */

@media screen and (max-width: 1950px){

}

@media screen and (max-width: 1650px){
    .exploration_footprint{
        grid-template-columns: 100%;
    }

    .exploration, .footprint{
        align-items: center;
    }
}


@media screen and (max-width: 1250px){

    .main-content-wrapper{
        grid-template-columns: 100%;
    }

    .image-div{
        grid-area: 1/1;
        z-index: 1;
        transform: scale(0.8);
    }

    .text-div{
        z-index: 10;
        top: 0;
        left: 0;
        grid-area: 1/1;
    }

    .main-content{
        display: block;
    }

    .description-main{
        width: 90vw;
    }

    .name-socials{
        display: none;
    }

    body{
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 900px){
    .image-div{
        transform: scale(0.5);
    }
}

@media screen and (max-width: 768px){
  #puppet-stairs{
    background-size: cover;
  }

  .description-main, .description{
    font-size: 15px;
    margin: 0px 10px 0px 10px;
  }

  h1{
    margin: 80px 10px 30px 10px;
  }

  .astronaut-image{
    transform: scale(0.7);
  }

  .exploration_footprint{
    margin-top: 30%;
  }

  h1{
    font-size: 50px;
  }

  .text-div{
    margin-top: 30px;
  }
}